services:
  
  evidence-process:
    container_name: evidence-process
    build:
      context: .
      dockerfile: bi/Dockerfile
    ports:
      - "3000:3000"
    volumes:
      # We will NOT be using this bind mount, since we have had
      # problems in Windows due to nodemon (or similar) file watcher
      # cannot spot changes in files made in Windows (and synced to 
      # WSL2 file system.)
      #
      # In in Linux/macOS, you would:
      # - ./bi/workspace:/evidence-workspace
      - evidence_node_modules:/evidence-workspace/node_modules
    develop:
      watch:
        - action: sync
          path: bi/workspace
          target: /evidence-workspace
          ignore:
            - node_modules/

  
  dbt-docs:
    image: nginx
    volumes:
      - ./dbt_warehouse/target:/usr/share/nginx/html
    ports:
      - "8080:80"

volumes:
  evidence_node_modules:
    name: evidence_node_modules

